@font-face {
  font-family: glass-tty;
  src: url(/Glass_TTY_VT220.ttf);
}

$primary-color: #131E38 !default;
$text-color: #b3e2ef !default;
$padding: 16px !default;
$cell-size: 44px !default;
$appear-duration: 400ms !default;

* {
  box-sizing: border-box;
  font-family: 'glass-tty', sans-serif;
}

.label {
  color: darken($primary-color, 20%);
}

button, select {
  background-color: $primary-color;
  border: 1px solid $text-color;
  border-radius: 3px;
  color: $text-color;
  padding: #{$padding / 3};
  text-transform: uppercase;

  &:hover {
    background-color: darken($primary-color, 10%);
    cursor: pointer;
  }
}
